html, body {
	height: 100%;
}

nav {
	background-color: #e53935;
}

body {

	background-image: url('../img/hackathon.jpg');
	background-repeat:no-repeat;
    background-size:100% 100%;
}

#mainPageTitle {
	color: white;
	text-align: center;
}

#mainSignup {
	width: 200px;
	margin: 0 auto;
	display: block;
}

#mainPageCenterWrapper {
	max-width: 400px;
	margin: 0 auto;
	display: block;
	position: relative;
  top: 40%;
  transform: translateY(-50%);
}